<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4 class="footer-content-title">友情链接</h4>
				<div class="footer-friend-links">
					{{> custom/friend-link}}
				</div>
			</div>
		</div>
	</div>
</footer>

